################################################################################
# Visual Studio / .NET
################################################################################

*.vsidx

# Build output - all projects
**/bin/
**/obj/
