################################################################################
# Visual Studio / .NET
################################################################################

*.vsidx
*.suo
.vs/
**/.vs/

# Visual Studio publish profile user settings
*.pubxml.user

# Local v18 folder
v18/
**/v18/

# Build output - all projects
**/bin/
**/obj/
